/*ALL HTML elements get this styling*/
* {
  text-decoration: none;
}

main {
  padding-top: 100px;
}

/*INDEX*/
/*main content - mobile version*/
.vertical-center {
  display: table-cell;
  vertical-align: middle;
}


/*main content - desktop version*/
@media only screen and (min-width: 1000px) {
  .wrapper {
    width: 1000px;
    margin: 0 auto;
  }
}

@media all and (max-width: 839px) {
  .wrapper {
    grid-template-areas: "nav cont";
    grid-template-columns: 1fr 4fr;
  }
}